{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}

    <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'perfil/css/gerenciar.css' %}" rel="stylesheet">
    <link href="{% static 'extrato/css/view_extrato.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    
{% endblock %}
{% block 'body' %}
    <br>
    <br>
    <div class='container'>
        <form action="{% url 'view_extrato' %}" method="GET">
        <div class="row">
            
            <div class="col-md">
                <label>Conta</label>
                <select name="conta" class="form-select">
                    <option></option>
                    {% for conta in contas %}
                        <option value="{{conta.id}}">{{conta}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md">
                <label>Categoria</label>
                <select name="categoria" class="form-select">
                    <option></option>
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md">
                <label>Período</label>
                <select name="periodo" class="form-select">
                    <option>Últimos 7 dias</option>
                </select>
            </div>
        
            
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <input style="width: 100%" type="submit" class="botao-principal" value="Filtrar">
                
            </div>
            </form>
            <div class="col-md-2">
                <a href="{% url 'view_extrato' %}" class="botao-secundario">Limpar Filtros</a>
            </div>
            <div class="col-md-2">
                <button id="exportar" class="botao-secundario">Exportar extrato</button>
            </div>
            <div class="col-md-2">
                <a href="{% url 'dashboard' %}" class="botao-secundario">Dashboard</a>
            </div>
        </div>
        <br>
        <br>


        <div class="card" id="card">
            
                <table>
                    <tr>
                        <th>Conta</th>
                        <th>Categoria</th>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>valor</th>
                        
                    </tr>
                    {% for valor in valores %}
                        <tr class="linha">
                            <td width="5%">{{valor.conta}}</td>
                            <td>{{valor.categoria}}</td>
                            <td>{{valor.data}}</td>
                            <td>
                            {% if valor.tipo == 'S'%}
                                <img width="5%" src="{% static 'perfil/img/saidas.png' %}">
                            {% else %}
                                <img width="5%" src="{% static 'perfil/img/entradas.png' %}">
                            {% endif %}
                            
                            </td>
                            <td>R$ {{valor.valor}}</td>
                            
                        </tr>
                    {% endfor %}

                </table>
            
        </div>
    </div>
    <script src="{% static 'extrato/js/view_extrato.js' %}" defer></script>
    </script>
{% endblock %}